<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384733395849-k7j92u6fbagt64q152gmm0l962m2ta5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384733395849-k7j92u6fbagt64q152gmm0l962m2ta5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCy5Y6PXijs4M1h7NQ0Bu6KeM7HP5f-ouY</string>
	<key>GCM_SENDER_ID</key>
	<string>384733395849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Cruzy.PokemonAdam</string>
	<key>PROJECT_ID</key>
	<string>pokemonadam-12ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonadam-12ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:384733395849:ios:af47dda25facf90d</string>
	<key>DATABASE_URL</key>
	<string>https://pokemonadam-12ba3.firebaseio.com</string>
</dict>
</plist>